<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rongcloud-im" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RongCloudIm</name>
    <description>cordova plugin for rongcloud imlib/imkit 2.0+</description>
    <license>MIT</license>
    <js-module name="RongCloudIm" src="www/RongCloudIm.js">
        <clobbers target="cordova.plugins.RongCloudIm" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RongCloudIm">
                <param name="android-package" value="cordova.plugin.rongcloud.im.RongCloudIm" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/RongCloudIm.java" target-dir="src/cordova/plugin/rongcloud/im/RongCloudIm" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="RongCloudIm">
                <param name="ios-package" value="RongCloudIm" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVRongCloudIm.m" />
    </platform>
</plugin>
